*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 24px;
    color: #1c2f52;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 auto;
}

#headline {
    color: white;
}

h2 {
    font-size: 20px;
    color: darkgray;
    font-weight: 600;
}

header {
    height: 200px;
    position: fixed;
    background-color: #1c2f52;
    width: 100%; 
}

.navigation {
    display: inline-block;
    width: 80px;
}

main {
    position: relative;
    top: 300px;
    padding-top: 20px;
}